# Dependencies
node_modules

# Build output
dist

# IDE
.vscode
.idea

# Vite cache
.vite

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Misc
*.md
